<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  
  <title>Document</title>

  <header>
    <style>
      #boton{
        margin-left: 70%;
      }
    </style>


    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div >
                <a><img src="https://na.leafletscdns.com/com.ar/data/6/logo.png?0674196497436a8d06d82c0b388fafb6" alt="Logo" width="40" height="28" class="p"></a>
            </div>
                

            <a class="navbar-brand" href="/">SUPERMERCADO DIA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                  <a class="nav-link" href="./agregarProd">Ingresar Productos</a>
                    <a class="nav-link" href="./update">Actualizar Productos</a>
            </div class="DEBAJO NAV RAMA">


            
            <div class="container mt-4">
              <div class="categorias-wrapper">
                  <div class="categorias-lista">
                      <form method='POST' action="/categ">
                          <div class="col-2" style="font-family: Arial, Helvetica, sans-serif;">
                              <select class="form-select" name="pc" id="pc" style="margin-left: 10%; border-color: black; border-radius: 20px; " required>
                                  <option value="" selected disabled style="background-color: rgb(157, 217, 245);" >Categorias</option>
                                  {% for x in categorias %}
                                  <option value="{{x[0]}}">{{x[1] }}</option>
                                  {% endfor %}
                              </select>
                          </div>
                      
                          </div>
                  
                              <button type="submit" class="btn btn-primary" style="margin-left: 20%; margin-top: -65px; font-size: 13px;" >Seleccionar</button>
                  
                          </div>
                      </form>
                    </div>
                  </nav>
              </header>
                </head>

<body>
    
  

    <h1>REGISTRO DE USUARIO</h1>

    <form action="/crearRegistro" method="post" enctype='multipart/form-data'>

    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">E-mail</span>
        <input type="email" name="nombre" id="nombre" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" required>
      </div>


    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Contrasena</span>
        <input type="password" name="contra" id="contra" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" required>
      </div>

      <button type="submit">CREAR NUEVO USUARIO</button>
      <button><a href="/login">INGRESAR</a></button>

</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>